premium_cal_flows.json
[{"id":"12ec0bd9.d47e44","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9182c8d9.537958","type":"ui_form","z":"12ec0bd9.d47e44","name":"","label":"","group":"2baac000.e811a","order":1,"width":8,"height":7,"options":[{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Sex (Male or Female)","value":"sex","type":"text","required":true,"rows":null},{"label":"BMI(Body Mass Index)","value":"bmi","type":"number","required":true,"rows":null},{"label":"Number of Children","value":"child","type":"number","required":true,"rows":null},{"label":"Are you a Smoker? (Yes or No)","value":"smoker","type":"text","required":true,"rows":null},{"label":"Region of living","value":"reg","type":"text","required":true,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","child":"","smoker":"","reg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":220,"wires":[["f23c585d.4858d8","d0d14767.0efab8"]]},{"id":"f23c585d.4858d8","type":"debug","z":"12ec0bd9.d47e44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":300,"wires":[]},{"id":"d0d14767.0efab8","type":"function","z":"12ec0bd9.d47e44","name":"pre-token","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"child\",msg.payload.child)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"reg\",msg.payload.reg)\n\nvar apikey=\"_4HxH8xsWFhQojGWY68lFRKxEaSuJpJdnHC67_drJt61\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":160,"wires":[["c68545d.fe4beb8"]]},{"id":"c68545d.fe4beb8","type":"http request","z":"12ec0bd9.d47e44","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":204.00000286102295,"wires":[["b72b92d7.6eb3d","1ba01d42.ab6c63"]]},{"id":"b72b92d7.6eb3d","type":"debug","z":"12ec0bd9.d47e44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"1ba01d42.ab6c63","type":"function","z":"12ec0bd9.d47e44","name":"Pre Prediction","func":"var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar child = global.get(\"child\")\nvar smoker = global.get(\"smoker\")\nvar reg = global.get(\"reg\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"BMI\", \"Child\", \"Smoker\", \"Region\"]],\"values\": [[age,sex,bmi,child,smoker,reg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":156.0000021457672,"wires":[["d4fec6f1.153f78"]]},{"id":"d4fec6f1.153f78","type":"http request","z":"12ec0bd9.d47e44","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/3fe6c9d5-9539-4587-b863-9ecead4cb24a/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":180,"wires":[["6d153745.2a0198","b20d3375.ec98"]]},{"id":"6d153745.2a0198","type":"debug","z":"12ec0bd9.d47e44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":264.00000381469727,"wires":[]},{"id":"18674944.0160e7","type":"inject","z":"12ec0bd9.d47e44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["d0d14767.0efab8"]]},{"id":"10a52ccc.9e2bb3","type":"debug","z":"12ec0bd9.d47e44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":47.0000057220459,"wires":[]},{"id":"b20d3375.ec98","type":"function","z":"12ec0bd9.d47e44","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":88.00000190734863,"wires":[["10a52ccc.9e2bb3","51a523e6.c9351c"]]},{"id":"51a523e6.c9351c","type":"ui_text","z":"12ec0bd9.d47e44","group":"2baac000.e811a","order":2,"width":0,"height":0,"name":"","label":"Premium Amount   :     ","format":"{{msg.payload}}","layout":"row-center","x":787.6000366210938,"y":321.20001220703125,"wires":[]},{"id":"f99ff52.1662608","type":"ui_text","z":"12ec0bd9.d47e44","group":"2baac000.e811a","order":10,"width":0,"height":0,"name":"","label":"Point to Observe:","format":"Habit of Smoking will bleed your pocket and your life too. ","layout":"row-spread","x":870,"y":100,"wires":[]},{"id":"2baac000.e811a","type":"ui_group","z":"","name":"Health Insurance Premium Prediction Calculator","tab":"74e76355.6cb6ac","order":1,"disp":true,"width":10,"collapse":false},{"id":"74e76355.6cb6ac","type":"ui_tab","z":"","name":"Enter Data","icon":"dashboard","disabled":false,"hidden":false}]